{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>OP SMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'sms/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- styles -->
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">

    <!-- styles -->
    <link href="{% static 'sms/css/styles.css'%}" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{% static 'sms/vendors/form-helpers/css/bootstrap-formhelpers.min.css'%}" rel="stylesheet">
    <link href="{% static 'sms/vendors/select/bootstrap-select.min.css'%}" rel="stylesheet">
    <link href="{% static 'sms/vendors/tags/css/bootstrap-tags.css'%}" rel="stylesheet">

    <link href="{% static 'sms/css/forms.css'%}" rel="stylesheet">

  </head>
  <body>
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-5">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="index.html">OP supermarket management system</a></h1>
	              </div>
	           </div>
	  
	           <div class="col-md-2 account">
	              <div class="navbar navbar-inverse" role="banner">
	                  <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	                    <ul class="nav navbar-nav">
	                      <li class="dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
	                        <ul class="dropdown-menu animated fadeInUp">
	                          <li><a href="profile.html">Profile</a></li>
	                          <li><a href="login.html">Logout</a></li>
	                        </ul>
	                      </li>
	                    </ul>
	                  </nav>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="/sms/"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>

                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Procurement Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="login.html">Supplier management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Procurement plan</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Assortment planning</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Purchase order management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Delivery tracking</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Goods reciepts management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Procurement return/replacement</a></li>
                        </ul>
                    </li>

                     <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Inventory Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="/sms/inventory_management/">stock management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">product managemenr</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Staff Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="/staff_list">Staff list</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Role management</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Financial Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="/staff_list">Income and expenses</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Cash flow management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Financial statement</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Payroll management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Product pricing</a></li>
                        </ul>
                    </li>
                    <li><a href="customer_management.html"><i class="glyphicon glyphicon-tasks"></i> Customer Management</a></li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Sales Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                        <ul>
                            <li><a href="/sms/sales_management/sales_analysis/">Sales report</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Sales analysis</a></li>
                            <li><a href="/sms/sales_management/promo_analysis/">Promotion activity</a></li>
                            <li><a href="/sms/sales_management/cal_pur/">Calculate and purchase</a></li>
                        </ul>
                    </li>

                    <li><a href="chain_management.html"><i class="glyphicon glyphicon-tasks"></i> Chain Management</a></li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Pages
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="signup.html">Signup</a></li>
                        </ul>
                    </li>
                </ul>
             </div>
		  </div>
		  <div class="col-md-10">
            <div class="row">
                <div class="col-lg-12  col-md-6">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Approval notifications
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> Annual leave requested by Angela
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> Procurement approval requested by Angela
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> You sent approval to Andy
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                </a>
                                
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All approvals</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                 
                   </div>

            </div>

		  	   <div class="row">
                    <div class="col-md-6">
                        <div class="content-box-large">
                            <div class="panel-heading">
                                <div class="panel-title">Annual leave request</div>
                              
                                <div class="panel-options">
                                  <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                                  <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Text Field</label>
                                    <div class="col-sm-10">
                                      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Password Field</label>
                                    <div class="col-sm-10">
                                      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-sm-2 control-label">Textarea</label>
                                    <div class="col-sm-10">
                                      <textarea class="form-control" placeholder="Textarea" rows="3"></textarea>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-sm-2 control-label">Readonly</label>
                                    <div class="col-sm-10">
                                      <span class="form-control">Read only text</span>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox"> Checkbox
                                        </label>
                                      </div>
                                      <div class="checkbox">
                                        <label>
                                          <input type="checkbox"> Checkbox
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                      <button type="submit" class="btn btn-primary">Sign in</button>
                                    </div>
                                  </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-box-large">
                            <div class="panel-heading">
                                <div class="panel-title">Procurment request</div>
                              
                                <div class="panel-options">
                                  <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                                  <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form action="">
                                    <fieldset>
                                        <div class="form-group">
                                            <label>Text field</label>
                                            <input class="form-control" placeholder="Text field" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label>Password field</label>
                                            <input class="form-control" placeholder="Password" type="password" value="mypassword">
                                        </div>
                                        <div class="form-group">
                                            <label>Textarea</label>
                                            <textarea class="form-control" placeholder="Textarea" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Readonly</label>
                                            <span class="form-control">Read only text</span>
                                        </div>
                                    </fieldset>
                                    <div>
                                        <div class="btn btn-primary">
                                            <i class="fa fa-save"></i>
                                            Submit
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



          </div>

   
        </div>
  
		 </div>
    </div>
   </div>

    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Angela ZHOU Anqi 2016 <a href='#'>Website</a>
            </div>
            
         </div>
      </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'sms/vendors/jquery.js'%}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'sms/bootstrap/js/bootstrap.min.js'%}"></script>
      <link rel="stylesheet" href="{% static 'sms/vendors/morris/morris.css'%}">


    <script src="{% static 'sms/vendors/form-helpers/js/bootstrap-formhelpers.min.js'%}"></script>

    <script src="{% static 'sms/vendors/select/bootstrap-select.min.js'%}"></script>

    <script src="{% static 'sms/vendors/tags/js/bootstrap-tags.min.js'%}"></script>

    <script src="{% static 'sms/vendors/mask/jquery.maskedinput.min.js'%}"></script>

    <script src="{% static 'sms/vendors/moment/moment.min.js'%}"></script>

    <script src="{% static 'sms/vendors/wizard/jquery.bootstrap.wizard.min.js'%}"></script>

     <!-- bootstrap-datetimepicker -->
     <link href="{% static 'sms/vendors/bootstrap-datetimepicker/datetimepicker.css'%}" rel="stylesheet">
     <script src="{% static 'sms/vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js'%}"></script> 


    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


    <script src="{% static 'sms/js/custom.js'%}"></script>
    <script src="{% static 'sms/js/stats.js'%}"></script>
  </body>
</html>