{% load static %}
{% load mathfilters%}
<!DOCTYPE html>
<html>
  <head>
    <title>OP SMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'sms/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- styles -->
    <link href="{% static 'sms/vendors/jquery-ui.css'%}" rel="stylesheet" media="screen">
    <link href="{% static 'sms/vendors/jquery.dataTables.min.css'%}" rel="stylesheet" media="screen">
      <link href="{% static 'sms/vendors/select.dataTables.min.css'%}" rel="stylesheet" media="screen">
    <!-- styles -->
    <link href="{% static 'sms/css/styles.css'%}" rel="stylesheet">


    <link href="{% static 'sms/css/stats.css'%}"  rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-5">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="index.html">OP supermarket management system</a></h1>
	              </div>
	           </div>
	  
	           <div class="col-md-2 account">
	              <div class="navbar navbar-inverse" role="banner">
	                  <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	                    <ul class="nav navbar-nav">
	                      <li class="dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
	                        <ul class="dropdown-menu animated fadeInUp">
	                          <li><a href="profile.html">Profile</a></li>
	                          <li><a href="login.html">Logout</a></li>
	                        </ul>
	                      </li>
	                    </ul>
	                  </nav>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="/sms/"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>

                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Procurement Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="login.html">Supplier management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Procurement plan</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Assortment planning</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Purchase order management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Delivery tracking</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Goods reciepts management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Procurement return/replacement</a></li>
                        </ul>
                    </li>

                     <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Inventory Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="/sms/inventory_management/">stock management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">product managemenr</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Staff Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="/staff_list">Staff list</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Role management</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Financial Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="/staff_list">Income and expenses</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Cash flow management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Financial statement</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Payroll management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Product pricing</a></li>
                        </ul>
                    </li>
                    <li><a href="customer_management.html"><i class="glyphicon glyphicon-tasks"></i> Customer Management</a></li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Sales Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                        <ul>
                            <li><a href="/sms/sales_management/sales_analysis/">Sales report</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Sales analysis</a></li>
                            <li><a href="/sms/sales_management/promo_analysis/">Promotion activity</a></li>
                            <li><a href="/sms/sales_management/cal_pur/">Calculate and purchase</a></li>
                        </ul>
                    </li>

                    <li><a href="chain_management.html"><i class="glyphicon glyphicon-tasks"></i> Chain Management</a></li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Pages
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="signup.html">Signup</a></li>
                        </ul>
                    </li>
                </ul>
             </div>
		  </div>
		  <div class="col-md-10">
        <div class="row">
        <div class="col-md-12">
          <div class="content-box-large">
            <div class="panel-heading">
            <div class="panel-title">Special day offers</div>
            <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            </div>
          </div>
            <div class="panel-body">
            <div class="row">
            <table cellpadding="0" cellspacing="0" border="0" class="display" cellspacing="0" id="markdownTable">
              <thead>
                <tr>
                  <th><input type="checkbox" name="select_all" value="0" id="select-all"> </th>
                  <th>Day</th>
                  <th>items</th>
                  <th>support count</th>
                  <!--<th>current price</th>-->
                </tr>
              </thead>
              <tbody>
                      <tr class="odd gradeX">
                        <td><input type="checkbox" name="mk" value="mk" ></td>
                        <td>Friday </td>
                        <td>bottled beer, pizza</td>
                        <td>0.002</td>
                      </tr>
                      <tr class="odd gradeX">
                        <td><input type="checkbox" name="mk" value="mk" ></td>
                        <td>Moday </td>
                        <td>salad, sushi</td>
                        <td>0.0015</td>
                      </tr>
              </tbody>
            </table>
            </div>
        <div class="col-md-6">
                            <p>Name: <input type="text" name="event_name" id = "event_name"> </p>
                            <p>Discount: <input type="text" name="discount_rate" id = "discount_rate"> </p>
                            <p>Priority: <input type="text" name="priority" id = "priority"> </p>
                            <p>Start time: <input type="date" name="start_date" id = "start_date"> </p>
                            <p> End time: <input type="date" name="end_date" id = "end_date"></p>
                            <p> Staff in charge: <input type="text" name="staff" id = "staff" > (*Staff will be notified by the event change)</p>
                            <button class="btn btn-primary btn-xs" >Submit</button>
                  </div>
                  <div class="col-md-6" id = "priceTable">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="itemPrice">
              <thead>
                <tr>
                  <th>Product name</th>
                  <th>price</th>
                </tr>
              </thead>
              <tbody>

              
                      <tr >
                    <td>bottled beer</td>
                    <td>8</td>
                    </tr>
                    <tr >
                    <td>pizza</td>
                    <td>35</td>
                    </tr>
              </tbody>
            </table>
                  </div>
           </div>

             
        </div>
      </div>

      <div class="col-md-12">
          <div class="content-box-large">
            <div class="panel-heading">
            <div class="panel-title">Product in discounting </div>
            <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            </div>
          </div>
            <div class="panel-body">
           <table cellpadding="0" cellspacing="0" border="0" class="display" cellspacing="0" id="discountedTable">
              <thead>
                <tr>
                  <th>name</th>
                  <th>code</th>
                  <th>price</th>
                  <th>discount rate</th>
                  <th>expiry date</th>
                  <th>Inventory</th>
                  <!--<th>current price</th>-->
                </tr>
              </thead>
              <tbody>
                {% if product_list%}
                  {% for product in product_list %}
                    {%if product.discount_rate != 1%}
                      <tr class="odd gradeX">
                        <td>{{ product.product_name}}</td>
                        <td>{{ product.code}}</td>
                        <td>{{ product.price}}</td>
                        <!--<td><input type="text" id="row_{{ product.id}}" name="row_{{ product.id}}" value="{{product.discount_rate}}"></td>-->
                        <td> {{ product.discount_rate}}</td>
                        <td> {{ product.expiry_date}}</td>
                        <td> {{ product.inventory}}</td>
                        <!--<td> {{ product.price|mul:product.discount_rate }}</td>-->
                      </tr>
                      {% endif %}
                      {% endfor %}
                  {%endif%}
              </tbody>
            </table>
      </div>
        </div>
        </div>
        </div>
   
		 </div>
    </div>
   </div>

    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Angela ZHOU Anqi 2016 <a href='#'>Website</a>
            </div>
            
         </div>
      </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'sms/vendors/jquery.js'%}"></script>
    <script src="{% static 'sms/vendors/moment.min.js'%}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'sms/bootstrap/js/bootstrap.min.js'%}"></script>


   <script src="{% static 'sms/vendors/datatables/js/jquery.dataTables.min.js'%}"></script>

    <script src="{% static 'sms/vendors/datatables/dataTables.bootstrap.js'%}"></script>

    <script src="{% static 'sms/js/custom.js'%}"></script>
    <script src="{% static 'sms/js/markdowns.js'%}"></script>
  </body>
</html>