{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>OP SMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'sms/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- styles -->
    <link href="{% static 'sms/css/styles.css'%}" rel="stylesheet">
    <link href="{% static 'sms/vendors/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">

  
  </head>
  <body>
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-5">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="index.html">OP supermarket management system</a></h1>
	              </div>
	           </div>
	  
	           <div class="col-md-2 account">
	              <div class="navbar navbar-inverse" role="banner">
	                  <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	                    <ul class="nav navbar-nav">
	                      <li class="dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
	                        <ul class="dropdown-menu animated fadeInUp">
	                          <li><a href="profile.html">Profile</a></li>
	                          <li><a href="login.html">Logout</a></li>
	                        </ul>
	                      </li>
	                    </ul>
	                  </nav>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="/sms/"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>

                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Procurement Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="login.html">Supplier management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Procurement plan</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Assortment planning</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Purchase order management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Delivery tracking</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Goods reciepts management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Procurement return/replacement</a></li>
                        </ul>
                    </li>

                     <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Inventory Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="/sms/inventory_management/">stock management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">product managemenr</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Staff Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="/staff_list">Staff list</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Role management</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Financial Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="/staff_list">Income and expenses</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Cash flow management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Financial statement</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Payroll management</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Product pricing</a></li>
                        </ul>
                    </li>
                    <li><a href="customer_management.html"><i class="glyphicon glyphicon-tasks"></i> Customer Management</a></li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Sales Management
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                        <ul>
                            <li><a href="/sms/sales_management/sales_analysis/">Sales report</a></li>
                            <li><a href="/sms/sales_management/sales_analysis/">Sales analysis</a></li>
                            <li><a href="/sms/sales_management/promo_analysis/">Promotion activity</a></li>
                            <li><a href="/sms/sales_management/cal_pur/">Calculate and purchase</a></li>
                        </ul>
                    </li>

                    <li><a href="chain_management.html"><i class="glyphicon glyphicon-tasks"></i> Chain Management</a></li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Pages
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="signup.html">Signup</a></li>
                        </ul>
                    </li>
                </ul>
             </div>
		  </div>
		  <div class="col-md-10">
		  	<div class="content-box-large">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Promotion activity management</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12  col-md-6">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Promotion activities notifications
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                {% if event_list%}
                                    {% for event in event_list %}
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i>  {{event.name}} created
                                    <span class="pull-right text-muted small"><em>{{event.start_date}} - {{event.end_date}}</em>
                                    </span>
                                </a>
                                    {% endfor %}
                                {%endif%}
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> Thanksgiving sales ending today
                                    <span class="pull-right text-muted small"><em>Nov. 22, 2016 - Nov. 30, 2016 </em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> Customer recommendation email sent yesterday
                                    <span class="pull-right text-muted small"><em>Nov. 29, 2016</em>
                                    </span>
                                </a>


                            </div>
                            <!-- /.list-group -->
                            <a href="/sms/sales_management/proact_management/" class="btn btn-default btn-block">View All promotion activities</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                 
                   </div>

            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Buddling sales</div>
                                    <div>14 suggested items</div>
                                </div>
                            </div>
                        </div>
                        <a href="/sms/sales_management/mb_analysis">
                            <div class="panel-footer">
                                <span class="pull-left">Create event</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Markdowns</div>
                                    <div>2 suggested items</div>
                                </div>
                            </div>
                        </div>
                        <a href="/sms/sales_management/markdowns">
                            <div class="panel-footer">
                                <span class="pull-left">Create event</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Direct marketing</div>
                                    <div>2 suggested items</div>
                                </div>
                            </div>
                        </div>
                        <a href="/sms/sales_management/directmarketing/">
                            <div class="panel-footer">
                                <span class="pull-left">Create event</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

            <!-- /.row -->
                   <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Expiry food discount</div>
                                        <div>4 suggested items</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/sms/sales_management/expiry_food_discount/">
                                <div class="panel-footer">
                                    <span class="pull-left">Create event</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Customer reward</div>
                                        <div>3 suggested items</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/sms/approval/">
                                <div class="panel-footer">
                                    <span class="pull-left">Create event</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Lucky draw</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/sms/approval/">
                                <div class="panel-footer">
                                    <span class="pull-left">Create event</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Coupons</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/sms/approval/">
                                <div class="panel-footer">
                                    <span class="pull-left">Create event</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Large order discount</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/sms/approval/">
                                <div class="panel-footer">
                                    <span class="pull-left">Create event</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-plus fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Other promotion template</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="/sms/approval/">
                                <div class="panel-footer">
                                    <span class="pull-left"></span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
            </div>
  
		 </div>
    </div>
   </div>

    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Angela ZHOU Anqi 2016 <a href='#'>Website</a>
            </div>
            
         </div>
      </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'sms/vendors/jquery.js'%}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'sms/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'sms/js/custom.js'%}"></script>
  </body>
</html>